@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,700,100italic,300italic,400italic,700italic);

.section-header {
  margin-bottom: 50px;
}
.section-header .section-title {
  font-size: 44px;
  color: #272727;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 20px;
}
.section-header .section-title:before {
  content: "";
  position: absolute;
  width: 140px;
  bottom: 0;
  left: 50%;
  margin-left: -70px;
  height: 1px;
  background: #ebebeb;
}
.section-header .section-title:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -11px;
  left: 50%;
  margin-left: -12px;
  border: 5px solid #fff;
  border-radius: 20px;
  background: #3b7256;
}
.btn {
  border-width: 0;
  border-bottom-width: 3px;
  border-radius: 3px;
}
.btn.btn-primary {
  background: #3b7256;
  border-color: #3b7256;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: #3b7256;
}
.column-title {
  margin-top: 0;
  padding-bottom: 15px;
  margin-bottom: 15px;
  position: relative;
}
.column-title:after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 60%;
  border-bottom: 1px solid #3b7256;
}

.carousel-content{
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1em;
}

ul.nostyle {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
ul.nostyle i {
  color: #3b7256;
}
.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}
@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
/*************************
*******Header******
**************************/
.navbar.navbar-default {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar.navbar-default .navbar-toggle {
  margin-top: 32px;
}
.navbar.navbar-default .navbar-brand {
  height: auto;
}
@media only screen and (min-width: 768px) {
  #mainNav.navbar-default {
    background: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  }
}
.main-slider {
  overflow: hidden;
}
.main-slider .item {
  height: 558px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
.main-slider .slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
}
.main-slider .slider-inner h2 {
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
}
.main-slider .slider-inner h2 > span {
  color: #3b7256;
}
.main-slider .slider-inner .btn {
  margin-top: 10px;
}
.main-slider .owl-prev,
.main-slider .owl-next {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 30px;
  display: inline-block;
  margin-top: -35px;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 100px;
  z-index: 5;
  -webkit-transition: background-color 400ms;
  transition: background-color 400ms;
}
.main-slider .owl-prev:hover,
.main-slider .owl-next:hover {
  background-color: #3b7256;
}
.main-slider .owl-prev {
  left: -35px;
  text-indent: 14px;
}
.main-slider .owl-next {
  right: -35px;
  text-indent: -14px;
}
#bar {
  width: 0%;
  max-width: 100%;
  height: 4px;
  background: #3b7256;
}
#progressBar {
  margin-top: -4px;
  position: relative;
  z-index: 999;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}
#cta {
  padding: 50px 0;
  background-color: #eeeeee;
}
#cta h2 {
  margin-top: 0;
}
#cta .btn {
  margin-top: 40px;
}
#cta2 {
  background: #242a33 url(../images/cta2/cta2-bg.jpg) no-repeat 50% 50%;
  background-size: cover;
  color: #fff;
  padding-top: 70px;
}
#cta2 .btn {
  margin-top: 10px;
}
#cta2 h2 {
  color: #fff;
  font-size: 44px;
  line-height: 1;
}
#cta2 h2 > span {
  color: #3b7256;
}
#features {
  padding: 100px 0;
}
#features .media.service-box:first-child {
  margin-top: 80px;
}
#services {
  padding: 100px 0 75px;
}
.media.service-box {
  margin: 25px 0;
}
.media.service-box .pull-left {
  margin-right: 20px;
}
.media.service-box .pull-left > i {
  font-size: 24px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  width: 64px;
  border-radius: 100%;
  color: #3b7256;
  box-shadow: inset 0 0 0 1px #d7d7d7;
  -webkit-box-shadow: inset 0 0 0 1px #d7d7d7;
  transition: background-color 400ms, background-color 400ms;
  position: relative;
}
.media.service-box .pull-left > i:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  right: -10px;
  border: 4px solid #fff;
  border-radius: 20px;
  background: #3b7256;
}
.media.service-box:hover .pull-left > i {
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  color: #fff;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.8);
}
/*
#portfolio {
  padding: 100px 0;
  background: #f5f5f5;
}
#portfolio .portfolio-filter {
  list-style: none;
  padding: 0;
  margin: 0 0 50px;
  display: inline-block;
}
#portfolio .portfolio-filter > li {
  float: left;
  display: block;
}
#portfolio .portfolio-filter > li a {
  display: block;
  padding: 7px 15px;
  background: #e5e5e5;
  color: #64686d;
  position: relative;
}
#portfolio .portfolio-filter > li a:hover,
#portfolio .portfolio-filter > li a.active {
  background: #2d6444;
  color: #fff;
  box-shadow: 0 -3px 0 0 #318daf inset;
  -webkit-box-shadow: 0 -3px 0 0 #318daf inset;
}
#portfolio .portfolio-filter > li a.active:after {
  content: " ";
  position: absolute;
  bottom: -17px;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #318daf transparent transparent transparent;
}
#portfolio .portfolio-filter > li:first-child a {
  border-radius: 4px 0 0 4px;
}
#portfolio .portfolio-filter > li:last-child a {
  border-radius: 0 4px 4px 0;
}
#portfolio .portfolio-items {
  margin: -15px;
}
#portfolio .portfolio-item {
  width: 24.9%;
  float: left;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#portfolio .portfolio-item .portfolio-item-inner {
  position: relative;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info {
  opacity: 0;
  transition: opacity 400ms;
  -webkit-transition: opacity 400ms;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info h3 {
  font-size: 16px;
  line-height: 1;
  margin: 0;
  color: #fff;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info .preview {
  position: absolute;
  top: -18px;
  right: 12px;
  border-radius: 50%;
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  box-shadow: 0 0 0 2px #fff;
  -webkit-box-shadow: 0 0 0 2px #fff;
}
#portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
}
*/
/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
#testimonial {
  background: #333333 url(../images/testimonial/bg.jpg) no-repeat 0 0;
  background-size: cover;
  padding: 100px 0;
  color: #fff;
}
#testimonial h4 {
  color: #fff;
  margin-bottom: 0;
}
#testimonial small {
  display: block;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.7);
}
#testimonial .btns {
  margin-top: 10px;
}
#about {
  background: #3b7256;
  color: white;
}
#about h2 {
  color: white;
}

#about .column-title:after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 60%;
  border-bottom: 1px solid white;
}

#about ul.nostyle i {
  color: #ffffff;
}

#work-process {
  padding: 100px 0 50px;
  background: #20222e url(../images/work-process/bg.jpg) no-repeat 0 0;
  background-size: cover;
  color: #fff;
}
#work-process h2 {
  color: #fff;
}
#work-process h3 {
  color: #fff;
  margin-bottom: 0;
}
#work-process .icon-circle {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border: 2px solid #3b7256;
  border-radius: 100px;
  position: relative;
}
#work-process .icon-circle > span {
  border-style: solid;
  border-width: 2px;
  border-color: #3b7256;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  width: 24px;
  height: 24px;
  line-height: 20px;
  top: -12px;
  color: #64686d;
}
#work-process h3 {
  margin-bottom: 50px;
}
#meet-team {
  padding: 100px 0;
}
#meet-team .team-member {
  padding: 13px;
  background: #eeeeee;
  border: 2px solid #eeeeee;
  transition: border-color 400ms;
  -webkit-transition: border-color 400ms;
}
#meet-team .team-member .team-img {
  margin: -15px -15px 0 -15px;
}
#meet-team .team-member .team-info {
  padding-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 10px;
}
#meet-team .team-member:hover {
  border-color: #3b7256;
}
#meet-team .team-member:hover .social-icons > li > a {
  background: #3b7256;
}
#meet-team .social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}
#meet-team .social-icons > li {
  display: inline-block;
}
#meet-team .social-icons > li > a {
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  background: #222534;
  border-radius: 3px;
}
.divider {
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: -moz-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  background-image: -webkit-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  background-image: -ms-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  width: 95%;
  height: 1px;
}
.progress {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #eeeeee;
}
.progress .progress-bar.progress-bar-primary {
  background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.nav.main-tab {
  background: #eee;
  border-bottom: 3px solid #222534;
  border-radius: 3px 3px 0 0;
}
.nav.main-tab > li > a {
  color: #272727;
}
.nav.main-tab > li.active > a {
  background: #222534;
  color: #3b7256;
}
.nav.main-tab > li:first-child > a {
  border-radius: 3px 0 0 0;
}
.nav.main-tab > li:last-child > a {
  border-radius: 0 3px 0 0;
}
.tab-content {
  border: 1px solid #eee;
  border-top: 0;
  padding: 20px 20px 10px;
  border-radius: 0 0 3px 3px;
}
.panel-default {
  border-color: #eee;
}
.panel-default > .panel-heading {
  background-color: #fff;
  border-color: #eee;
}
.panel-default > .panel-heading .panel-title {
  font-size: 14px;
  font-weight: normal;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #eee;
}
#animated-number {
  padding: 100px 0 70px;
  background: #132125 url(../images/animated-number/bg.jpg) no-repeat 0 0;
  background-size: cover;
  color: #fff;
}
#animated-number h1,
#animated-number h2,
#animated-number h3,
#animated-number h4 {
  color: #fff;
}
#animated-number strong {
  display: block;
  margin-bottom: 30px;
}
.animated-number {
  display: inline-block;
  width: 140px;
  height: 140px;
  font-size: 24px;
  line-height: 140px;
  border: 3px solid #fff;
  border-radius: 100px;
  margin-bottom: 20px;
}
#pricing {
  padding: 100px 0 70px;
}
#pricing ul.pricing {
  list-style: none;
  padding: 0;
  margin: 70px 0 30px;
  border: 1px solid #eee;
  border-radius: 5px 5px 4px 4px;
  padding: 15px;
  text-align: center;
}
#pricing ul.pricing li {
  display: block;
  padding: 10px;
}
#pricing ul.pricing li.plan-header {
  background: #eee;
  border-radius: 4px 4px 0 0;
  margin: -15px -15px 10px;
  padding: 15px 15px 30px;
  border: 0;
}
#pricing ul.pricing li.plan-header .price-duration {
  position: relative;
  margin-top: -63px;
  top: -10px;
  display: inline-block;
  width: 116px;
  height: 116px;
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  color: #fff;
  border-radius: 100px;
  border: 5px solid #f6f6f6;
}
#pricing ul.pricing li.plan-header .price-duration > span {
  display: block;
  line-height: 1;
}
#pricing ul.pricing li.plan-header .price-duration > span.price {
  font-size: 24px;
  font-weight: 700;
  margin-top: 35px;
}
#pricing ul.pricing li.plan-header .price-duration > span.duration {
  margin-top: 5px;
}
#pricing ul.pricing li.plan-header .plan-name {
  margin-top: 10px;
  font-size: 24px;
  color: #272727;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}
#pricing ul.pricing.featured {
  background: #222534;
  color: #fff;
  border: 0;
}
#pricing ul.pricing.featured li.plan-header {
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}
#pricing ul.pricing.featured li.plan-header .plan-name {
  color: #fff;
}
#get-in-touch {
  padding: 100px 0 50px;
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  color: #fff;
}
#get-in-touch h1,
#get-in-touch h2 {
  color: #fff;
}
#blog {
  padding: 100px 0;
}
#blog .blog-post {
  border: 1px solid #eee;
  padding: 15px;
}
#blog .blog-post .post-format {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  background: #222534;
  border: 3px solid #fff;
  border-radius: 100px;
}
#blog .blog-post.blog-large .entry-thumbnail {
  margin: -15px -15px 15px;
  position: relative;
}
#blog .blog-post.blog-large .post-format {
  width: 66px;
  height: 66px;
  line-height: 60px;
  position: absolute;
  right: 20px;
  bottom: -33px;
}
#blog .blog-post.blog-large .post-format > i {
  font-size: 20px;
}
#blog .blog-post.blog-large .entry-date {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #3b7256;
}
#blog .blog-post.blog-large .entry-title {
  margin-top: 0;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 15px;
}
#blog .blog-post.blog-large .entry-title a {
  color: #64686d;
}
#blog .blog-post.blog-large .entry-title a:hover {
  color: #3b7256;
}
#blog .blog-post.blog-media {
  margin-bottom: 30px;
}
#blog .blog-post.blog-media .entry-thumbnail {
  margin: -15px 15px -15px -15px;
  position: relative;
}
#blog .blog-post.blog-media .post-format {
  position: absolute;
  top: 20px;
  right: -10px;
}
#blog .blog-post.blog-media .entry-date {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #3b7256;
}
#blog .blog-post.blog-media .entry-title {
  margin-top: 0;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 15px;
}
#blog .blog-post.blog-media .entry-title a {
  color: #64686d;
}
#blog .blog-post.blog-media .entry-title a:hover {
  color: #3b7256;
}
#blog .blog-post .entry-meta {
  margin-top: 20px;
  border-top: 1px solid #eee;
  padding-top: 15px;
}
#blog .blog-post .entry-meta > span {
  display: inline-block;
  margin-right: 10px;
  color: #999;
}
#blog .blog-post .entry-meta > span > a {
  color: #999;
}
#blog .blog-post .entry-meta > span > a:hover {
  color: #3b7256;
}
#contact {
  position: relative;
  overflow: hidden;
}
#contact .container-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(69, 174, 214, 0.3);
  z-index: 1;
}
#contact .contact-form {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin-top: 50px;
}
#contact .contact-form h3 {
  margin-top: 0;
}
/***********************
********* Footer ******
************************/
#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background: #2e2e2e;
}
#footer a {
  color: #fff;
}
#footer a:hover {
  color: #3b7256;
}
#footer ul {
  list-style: none;
  padding: 0;
  margin: 0 -7.5px;
}
#footer ul > li {
  display: inline-block;
  margin: 0 7.5px;
}
@media only screen and (min-width: 768px) {
  #parque.column-title:after{
    width: 30% !important;
  }
  
  #footer .social-icons {
    float: right;
  }
}
.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
}


/*!
 * Start Bootstrap - Freelancer v4.0.0-beta (http://startbootstrap.com/template-overviews/freelancer)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-freelancer/blob/master/LICENSE)
 */

 body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

p {
  font-size: 20px;
}

p.small {
  font-size: 16px;
}

a,
a.active,
a:active,
a:focus,
a:hover {
  color: #3b7256;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

hr.star-light,
hr.star-primary {
  max-width: 250px;
  margin: 25px auto 30px;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 5px;
}

hr.star-light:after,
hr.star-primary:after {
  font-family: FontAwesome;
  font-size: 2em;
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f005';
}

hr.star-light {
  border-color: white;
}

hr.star-light:after {
  color: white;
  background-color: #3b7256;
}

hr.star-primary {
  border-color: #3b7256;
}

hr.star-primary:after {
  color: #3b7256;
  background-color: white;
}

.img-centered {
  margin: 0 auto;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 3em;
  margin: 0;
}

section.success {
  color: white;
  background: #3b7256;
}

@media (max-width: 767px) {
  .portfolio-modal .close-modal .lr .rl, .portfolio-modal .close-modal .lr {
    height: 35px !important;
  }

  .portfolio-modal .close-modal{
    right: 0 !important;
  }

  #mainNav .navbar-brand{
    width: 40% !important;
  }
  section {
    padding: 75px 0;
  }
  section.first {
    padding-top: 75px;
  }
  #mainNav {
    padding-bottom: 10px !important;
  }
  
  #empresa-malhas{
    margin-top: 2em;
  }
}

.scroll-top {
  position: fixed;
  z-index: 1049;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
}

.scroll-top .btn {
  font-size: 16px;
  line-height: 28px;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 100%;
}

.scroll-top .btn:focus {
  outline: none;
}

#mainNav {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  padding-top: 0px;
  padding-bottom: 0px;
  text-transform: uppercase;
  border: none;
  background: #ffffff;
}

#mainNav a:focus {
  outline: none;
}

#mainNav .navbar-brand {
  font-size: 1.1rem;
  color: black;
  width: 19%;
  padding: 0.4em;
}

#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
  color: #3b7256;
}

#mainNav .navbar-nav {
  letter-spacing: 1px;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: black;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #3b7256;
  outline: none;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active,
#mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: black;
}

#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  text-transform: uppercase;
  color: black;
  border-color: black;
}

#mainNav .navbar-toggler:focus,
#mainNav .navbar-toggler:hover {
  color: white;
  border-color: #3b7256;
  background-color: #3b7256;
}

@media (min-width: 992px) {
  #portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
  }
  .top-bar {
    background-color: #3b7256;
    height: 40px;
  }
  #mainNav {
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
  #mainNav .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav>li.nav-item>a.nav-link.active {
    color: white;
    border-radius: 3px;
    background: #3b7256;
  }
  #mainNav .navbar-nav>li.nav-item>a.nav-link.active:active,
  #mainNav .navbar-nav>li.nav-item>a.nav-link.active:focus,
  #mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover {
    color: white;
    background: #3b7256;
  }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}

header.masthead {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  color: white;
  background: #3b7256;
}

header.masthead img {
  display: block;
  margin: 0 auto 20px;
}

header.masthead .intro-text .name {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: 700;
  display: block;
  text-transform: uppercase;
}

header.masthead .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}

@media (min-width: 768px) and (max-width: 1024px){
  #mainNav .navbar-brand {
      width: 22% !important;
      margin-left: 2em;
  }
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  header.masthead .intro-text .name {
    font-size: 4.75em;
  }
  header.masthead .intro-text .skills {
    font-size: 1.75em;
  }
}

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .caption {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: #3b7256;
}



#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}

#portfolio * {
  z-index: 5;
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

.portfolio-modal .modal-dialog {
  max-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  border: none;
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.portfolio-modal .modal-dialog .modal-content {
  padding: 50px 0;
  border: 0;
  border-radius: 0;
  min-height: 100%;
}

.portfolio-modal .modal-dialog .modal-content h2 {
  font-size: 3em;
  margin: 0;
}

.portfolio-modal .modal-dialog .modal-content img {
  margin-bottom: 30px;
}

.portfolio-modal .modal-dialog .modal-content .item-details {
  margin: 30px 0;
}

.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
  z-index: 5;
}

.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
  /* Safari and Chrome */
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #3b7256;
}

.portfolio-modal .close-modal .lr .rl {
  /* Safari and Chrome */
  z-index: 1052;
  width: 1px;
  height: 75px;
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: #3b7256;
}

.portfolio-modal .modal-backdrop {
  display: none;
  opacity: 0;
}

.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  font-size: 1.5em;
  position: relative;
  z-index: 1;
  padding-right: 0;
  padding-left: 0;
  resize: none;
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
}

.floating-label-form-group label {
  font-size: 0.85em;
  line-height: 1.764705882em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
  -moz-transition: top 0.3s ease, opacity 0.3s ease;
  -ms-transition: top 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
}

.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #3b7256;
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}

footer {
  color: white;
}

footer h3 {
  margin-bottom: 30px;
}

footer .footer-above {
  padding-top: 50px;
  background-color: #3b7256;
}

footer .footer-col {
  margin-bottom: 50px;
}

footer .footer-below {
  padding: 25px 0;
  background-color: #3b7256;
}

.btn-outline {
  font-size: 20px;
  margin-top: 15px;
  transition: all 0.3s ease-in-out;
  color: white;
  border: solid 2px white;
  background: transparent;
}

.btn-outline.active,
.btn-outline:active,
.btn-outline:focus,
.btn-outline:hover {
  color: #3b7256;
  border: solid 2px white;
  background: white;
}

.btn-primary {
  font-weight: 700;
  color: white;
  border-color: #3b7256;
  background-color: #3b7256;
}

.btn-primary.focus,
.btn-primary:focus {
  color: white;
  border-color: black;
  background-color: #1a252f;
}

.btn-primary:hover {
  color: white;
  border-color: #3b7256;
  background-color: #3b7256;
}

.btn-primary.active,
.btn-primary:active,
.open>.btn-primary.dropdown-toggle {
  color: white;
  border-color: #3b7256;
  background-color: #3b7256;
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.btn-primary.dropdown-toggle.focus,
.open>.btn-primary.dropdown-toggle:focus,
.open>.btn-primary.dropdown-toggle:hover {
  color: white;
  border-color: black;
  background-color: #0d1318;
}

.btn-primary.active,
.btn-primary:active,
.open>.btn-primary.dropdown-toggle {
  background-image: none;
}

.btn-primary.disabled.focus,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled].focus,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
  border-color: #3b7256;
  background-color: #3b7256;
}

.btn-primary .badge {
  color: #3b7256;
  background-color: white;
}

.btn-success {
  font-weight: 700;
  color: #3b7256;
  border: 2px solid #3b7256;
  background-color: transparent;
  cursor: pointer;
}

.btn-success.focus,
.btn-success:focus {
  color: white;
  border-color: #3b7256;
  background-color: #3b7256;
  box-shadow: none;
}

.btn-success:hover {
  color: white;
  border-color: #3b7256;
  background-color: #3b7256;
}

.btn-success.active,
.btn-success:active,
.open>.btn-success.dropdown-toggle {
  color: white;
  border-color: #3b7256;
  background-color: #3b7256;
}

.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success:active.focus,
.btn-success:active:focus,
.btn-success:active:hover,
.open>.btn-success.dropdown-toggle.focus,
.open>.btn-success.dropdown-toggle:focus,
.open>.btn-success.dropdown-toggle:hover {
  color: white;
  border-color: #3b7256;
  background-color: #3b7256;
}

.btn-success.active,
.btn-success:active,
.open>.btn-success.dropdown-toggle {
  background-image: none;
}

.btn-success.disabled.focus,
.btn-success.disabled:focus,
.btn-success.disabled:hover,
.btn-success[disabled].focus,
.btn-success[disabled]:focus,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success.focus,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:hover {
  border-color: #3b7256;
  background-color: #3b7256;
}

.btn-success .badge {
  color: #3b7256;
  background-color: white;
}

.btn-social {
  font-size: 20px;
  line-height: 45px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 2px solid white;
  border-radius: 100%;
}

.btn.active,
.btn:active,
.btn:focus {
  outline: none;
}

.top-bar-green {
  background-color: #3b7256;
  height: 47px;
}

.btn-social-header {
  font-size: 20px;
  line-height: 31px;
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  border: 2px solid white;
  border-radius: 100%;
  margin-top: 6px;
  transition: all 0.3s ease-in-out;
  color: white;
  background: transparent;
}

#logo-img{
  width: 100%;
  height: auto;
}

.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.col-sm-6.wow.fadeInRight.animated {
  padding-left: 30px;
}

.map {
  min-width: 300px;
  max-height: 470px;
  width: 100%;
  height: 100%;
}

section#main-slider {
  padding: 118px 0 0 0;
}

#portfolio .section-header .section-title:before, .portfolio-modal .section-header .section-title:before {
  background: #3b7256;
}
#portfolio .section-header .section-title:after, .portfolio-modal .section-header .section-title:after{
  border: 5px solid #3b7256;
  background: #ffffff;
}

.section-header h2 {
  visibility: visible !important;
}

.fa.fa-check-square{
  margin-right: 0.5em;
}

p.text-center.wow.fadeInDown.animated{
  margin-top: 50px;
}

#parque{
  margin-top: 1em;
}

.padding-slider-b{
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  cursor: default;
}

.padding-slider-t{
  padding-top: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  cursor: default;
}

.padding-slider{
  padding: 30px;
  cursor: default;
}

.pdr-15{
  padding: 0 15px !important;
  font-size: 20px;
}

i.fa.fa-whatsapp{
  color: #3b7256;
}

.modal-dialog{
  display: flex;
  align-items: center;
}

.modal-content{
  text-align: center;
  margin: auto;
}

.arrow-next, .arrow-previous{
  text-align: center;
  align-items: center;
  margin: auto;
}

i.fa.fa-chevron-right, i.fa.fa-chevron-left{
  font-size: 4em;
  cursor: pointer;
}

i.fa.fa-chevron-right:hover, i.fa.fa-chevron-left:hover{
  color: #3b7256;
}

